apiVersion: apps/v1
kind: Deployment
metadata:
  name: bff
  namespace: kpmg-poc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bff
  template:
    metadata:
      labels:
        app: bff
    spec:
      containers:
        - name: bff
          image: bff:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: AI_CORE_URL
              value: "http://ai-core:9000"
---
apiVersion: v1
kind: Service
metadata:
  name: bff
  namespace: kpmg-poc
spec:
  selector:
    app: bff
  ports:
    - port: 3000
      targetPort: 3000
